*{
	box-sizing: border-box;
 }

body{
	/* font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; */
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
}

header{
	/* background-color: rgba(66, 187, 106, 0.933); */
	background: linear-gradient(rgba(88, 200, 125, 0.933), rgba(56, 137, 83, 0.933));
	height: 5em;
	color: white;
	margin-bottom: 1em;
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
}


header h1{
	font-size: 2em;
	display:inline-block;
	vertical-align:	middle;
}
header h2{
	font-size: 2em;
	display:inline-block;
	vertical-align:	middle;
}

header .container-header:before{
	content: '';
	display:inline-block;
	height: 100%;
	vertical-align:	middle;
}

.container-header{
	width: 95%;
	height: 100%;
	margin: 0 auto;
}

.container{
	width: 60%;
	height: 100%;
	margin: 3em auto;
}

section{
	margin: 2em 0;
	overflow: hidden;
}

section h2{
	font-size: 3em;
	color: rgba(56, 137, 83, 0.933);
	display: block;
	padding-bottom: .5em;
	border-bottom: 1px solid #ccc;
	margin-bottom: .5em;
	width:95%;
}

#filtrar-paciente{
	width: 250px;
	height: 35px;
	margin-bottom: 10px;
	border: 2px solid rgba(88, 200, 125, 0.933);
	border-radius: 10px;
}


table{
	width: 100%;
	margin-bottom : 1.5em;
    table-layout: fixed;

}

td, th {
	padding: .7em;
	margin: 0;
	border: 1px solid #ccc;
	text-align: center;
}

thead th:nth-child(6){
	width: 5%;
	background-color: white;
	border: none;
}

th{
	font-weight: bold;
	background-color: #EEE;
}

label{
	color: #555;
	display: block;
	margin-bottom: .2em;
}

.campo{
	margin: 0;
	padding-bottom: 1em;
	width: 100%;
	/* border: 1px solid #ccc; */
	border: 2px solid rgba(88, 200, 125, 0.933);
	padding: .7em;
	width: 100%;
	border-radius: 10px;
}

.campo-medio{
	display: inline-block;
	padding-right: .5em;
}

.grupo{
	width: 32%;
	display: inline-block;
	padding: 10px 0px;
}

button{
	padding: .5em 2em;
	border: 0;
	font-size: 1.2em;
	cursor: pointer;
	margin: 0;
	margin-top: -3px;
	color: #fff;
	background-color:rgba(88, 200, 125, 0.933);
	width: 20%;
    display: block;
    clear: both;
    margin: 10px 0px;
	border-radius: 20px;
	box-shadow: 3px 3px 15px -5px #818181;
}

button:hover{
	background-color:rgba(105, 218, 143, 0.933);
	box-shadow: 3px 3px 15px -5px #727272;
}

button:active{
	margin-top:0px;
	border: 0;
}

button[disabled=disabled], button:disabled {
    background-color: gray;
	border-color: darkgray;

}

.adicionar-paciente{
    margin-top: 30px;
}

.campo-invalido{
	border: 1px solid red;
	color: red;
}

.hidden{
	display: none;
}

.resaltar{
	background-color: rgb(198, 238, 198);
}

.fadeOut{
	opacity: 0;
	transition:0.5s;
}

#delete-cell{
	background-color: white;
	border: none;
	width: 5%;
}

#delete-btn{
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	width: 2vw;
	padding: 0;
	margin: 0 auto auto .6vw;
	background-color: rgb(203, 49, 49);
	border-radius: 0%;
	box-shadow: none;
}